@model IEnumerable<MVC_CRUD.Models.Person>


<br />
<p >
    @Html.ActionLink("建立帳號", "Create", new {  }, new {@class="btn btn-default"})
</p>
<br />

<table class="table">
    <tr>
        <th>
            人員編號
        </th>
        <th>
            姓名
        </th>
        <th>
            年齡
        </th>
        <th>
            生日
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.pId
            </td>

            <td >
                @Html.DisplayFor(modelItem => item.pName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pAge)
            </td>
            <td>
                @DateTime.Parse(item.pBirthday.ToString()).ToShortDateString()
            </td>
            <td>
                @Html.ActionLink("修改", "Edit", new { id=item.pId }, new {@class= "btn btn-primary" }) |
                    @*@Html.ActionLink("Details", "Details", new { id=item.pId }) |*@
                @Html.ActionLink("刪除", "Delete", new { id = item.pId }
                                                    ,new {onclick ="return confirm('確定刪除嗎?')"
                                                    ,@class = "btn btn-danger"})
            </td>
        </tr>
    }

</table>
